.linha-topo-menu {
	background: #cccccc;
}

.menu-superior {
	margin-left: 0px;
}

.menu-superior {
	margin: 0px;
}

.menu-superior li {
	display: inline;
}

.col-sm-4 .span3 span {
	display: block;
    float: left;
}
.mini-ficha .span3 .nome-produto {
    font-weight:bold;
    color:blue;
    font-size:16px;
    float: left;
}
.col-sm-4 .span3 .valor-produto {
    font-weight:bold;
    color:green;
    font-size:18px;
}

.pagination{
    
}

.view-product {
    /*width: 350px, */
    /*height: 500px;*/
    overflow: hidden;
}
.view-product img{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.radio, .checkbox {
  min-height: 20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
}

input, button, select, textarea {
  background: #F0F0E9;
  border: 0;
  color: #696763;
  padding: 5px;
  width: 100%;
  border-radius: 0;
  resize: none;
}

.login-form form button, .signup-form form button {
  background: #FE980F;
  border: medium none;
  border-radius: 0;
  color: #FFFFFF;
  display: block;
  font-family: 'Roboto', sans-serif;
  padding: 6px 25px;
}

.btn-success {
  color: #fff;
  background-color: #FE980F;
  border-color: #FE980F;
}

/*span4 col-sm-4*/
/*set a border on the images to prevent shifting*/
 #foto-principal img{border:2px solid white;}
 
 /*Change the colour*/
 #foto-principal .active img{border:2px solid #333 !important;}